:root {
    --blue: #000ff0;
    --green: #008000;
    --dark: #1b1b1b;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    background: linear-gradient(to right top, var(--dark), var(--blue));
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container {
    max-width: 800px;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 20px 92px;
    border-radius: 20px;
    margin-right: 20px;
    position: relative;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;
    transition: all 0.3s;
}

.con {
    max-width: 920px;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 32px 92px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;
    transition: all 0.3s;
}

.con:hover {
    height: 70%;
    box-shadow: 0px, 8px, 24px, 0 rgba(228, 52, 52, 0.25);
}

.bg__img {
    position: absolute;
}

.bg__img--button {
    top: 0;
    right: 60%;
    height: 30vh;
    animation: slideDown 12s linear infinite;
}

.bg__img--dots {
    top: 0;
    left: 50%;
    height: 75vh;
    animation: rotate 25s linear infinite;
}

.bg__img--logo {
    left: 0;
    top: 50%;
    width: 50%;
    opacity: 0.25;
    transform: translate(-50%, -50%);
}

header {
    flex: 1;
}

h1 {
    padding: 24px 0 12px;
    font-size: 48px;
}

p {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

a {
    color: var(--green);
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, transparent, var(--white));
    transition: width 0.3s;
}

a:hover:after {
    width: 100%;
}

.logo {
    width: 150px;
    margin-right: 100px;
}

.logo img {
    width: 100%;
}

#f {
    width: 40%;
    height: 5%;
}

main {
    display: flex;
}

section:first-child {
    margin-right: 100px;
}

.people {
    height: 100%;
    display: flex;
    padding-bottom: 24px;
}

.person__img {
    width: 200px;
    height: 200px;
    background: var(--green);
    border: solid 3px #fff;
    border-radius: 100%;
    overflow: hidden;
}

.person__img img {
    width: 100%;
}

.person__name {
    display: block;
    margin-top: 16px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(90deg, var(--blue), rgba(255, 255, 255, 0.8));
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.person:last-child {
    margin-left: 50px;
    align-self: flex-end;
}

.person__img--filip img {
    transform: translate(10px, -30px);
}

.mail {
    color: #fff;
    overflow: auto;
}

#submit {
    background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    display: block;
    outline: transparent;
    overflow: hidden;
    transition: all 0.6s;
    position: relative;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, outline 0.3s ease-out;
}

#submit:hover {
    width: 150px;
    color: #808080;
    height: 40px;
    box-shadow: 12px 8px 24px 12px rgba(0, 0, 0, 0.1);
}

input {
    background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
    outline: transparent;
    position: relative;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, outline 0.3s ease-out;
}

button {
    width: 350px;
    margin-top: 32px;
    padding: 16px 0;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    background: var(--blue);
    background: linear-gradient(to right top, var(--blue), rgba(255, 255, 255, 0.6));
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.formul {
    width: 40%;
    height: 65%;
    font-size: 36px;
    padding: 32px 92px;
    font-family: Helvetica, sans-serif;
    display: flex;
    overflow: auto;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

form {
    width: 70%;
    height: 65%;
}

.formul:hover {
    width: 45%;
    height: 75%;
}

button:focus {
    outline-color: #fff;
}

button:after {
    width: 50px;
    height: 150%;
    position: absolute;
    left: -100px;
    top: -25px;
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.4s;
}

button:hover:after {
    transform: translateX(500px) rotate(20deg);
}

label {
    display: block;
    width: 100%;
}

::placeholder {
    color: #fff;
    font-family: Helvetica, sans-serif;
    opacity: 0.50;
}

#czas {
    width: 0;
    margin-bottom: 800px;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 45px;
}

textarea {
    border: none;
    border-radius: 15px;
    background: linear-gradient(to left bottom, var(--dark), var(--blue));
    font-size: 24px;
    color: #fff;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

@keyframes slideDown {
    from {
        transform: translateY(-30vh)
    }
    to {
        transform: translateY(100vh)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
