:root {
    --blue: #000ff0;
    --green: #008000;
    --dark: #1b1b1b;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    background: linear-gradient(to right top, var(--dark), var(--blue)) center;
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container {
    width: 60vw;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)) center;
    background-size: cover;
    border-radius: 20px;
    margin-right: 20px;
    position: relative;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;
    transform: translateX(-10vw);
    transition: all 0.3s;
}

.con {
    max-width: 920px;
    height: 66%;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 32px 92px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;
    transition: all 0.3s;
}

.con:hover {
    height: 70%;
    box-shadow: 0px, 8px, 24px, 0 rgba(228, 52, 52, 0.25);
}

.bg__img {
    position: absolute;
}

.bg__img--button {
    top: 0;
    right: 60%;
    height: 30vh;
    animation: slideDown 12s linear infinite;
}

.bg__img--dots {
    top: 0;
    left: 50%;
    height: 75vh;
    animation: rotate 25s linear infinite;
}

.bg__img--logo {
    left: 0;
    top: 50%;
    width: 50%;
    opacity: 0.25;
    transform: translate(-50%, -50%);
}

header {
    flex: 1;
}

h1 {
    padding: 24px 0 12px;
    font-size: 48px;
}

p {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

a {
    color: var(--green);
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, transparent, var(--white));
    transition: width 0.3s;
}

a:hover:after {
    width: 100%;
}

.logo {
    width: 150px;
    margin-right: 100px;
}

.logo img {
    width: 100%;
}

#f {
    width: 40%;
    height: 5%;
}

main {
    display: flex;
}

section:first-child {
    margin-right: 100px;
}

.mail {
    color: #fff;
    overflow: auto;
}

#submit {
    background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    display: block;
    outline: transparent;
    overflow: hidden;
    transition: all 0.6s;
    position: relative;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, outline 0.3s ease-out;
}

#submit:hover {
    width: 150px;
    color: #808080;
    height: 40px;
    box-shadow: 12px 8px 24px 12px rgba(0, 0, 0, 0.1);
}

input {
    background: linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
    border: none;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 24px;
    outline: transparent;
    position: relative;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, outline 0.3s ease-out;
}

button {
    width: 250px;
    margin-top: 32px;
    padding: 16px 0;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    background: var(--blue);
    background: linear-gradient(to right top, var(--blue), rgba(255, 255, 255, 0.6));
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: #000ff0;
    outline: #000ff0;
}

::-webkit-scrollbar-track {
    background-color: var(--blue);
}

.formul {
    width: 25%;
    height: 65%;
    font-size: 36px;
    padding: 12px;
    font-family: Helvetica, sans-serif;
    display: flex;
    float: left;
    overflow: auto;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

form {
    width: 70%;
    height: 80%;
}

.formul:hover {
    width: 28%;
    height: 70%;
}

button:focus {
    outline-color: #fff;
}

button:after {
    width: 50px;
    height: 150%;
    position: absolute;
    left: -100px;
    top: -25px;
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.4s;
}

button:hover:after {
    transform: translateX(500px) rotate(20deg);
}

label {
    display: block;
    width: 100%;
}

::placeholder {
    color: #fff;
    font-family: Helvetica, sans-serif;
    opacity: 0.50;
    text-align: center;
}

#czas {
    margin-bottom: 85vh;
    color: #fff;
    transform: translateX(1vw);
    margin-top: inherit;
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    height: 45px;
}

textarea {
    border: none;
    border-radius: 15px;
    background: linear-gradient(to left bottom, var(--dark), var(--blue));
    font-size: 24px;
    color: #fff;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

@keyframes slideDown {
    from {
        transform: translateY(-30vh)
    }
    to {
        transform: translateY(100vh)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}


@media screen and (max-width: 425px) {
    body {
        flex-wrap: wrap;
        overflow: hidden;
        height: 100vh;
    }
    .container.con {
        padding: 8px;
        position: absolute;
        overflow: hidden;
        top: 20vh;
        left: 15vw;
        width: 70vw;
        height: 50vh;
        flex-wrap: wrap;
        text-align: center;
    }

    h1 {
        padding: 0;
        width: 100vw;
        font-size: 20px;
    }

    p {
        padding: 0;
        flex-wrap: wrap;
        text-align: justify;
        width: 62vw;
        font-size: 10px;
        line-height: 15px;
    }

    .container.formul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 20px;
        position: absolute;
        top: 80vh;
        left: 20vw;
        height: 60vh;
        width: 60vw;
    }

    form {
        padding: 0;
        margin: 0;
        width: 150px;
    }

    label {
        font-size: 20px;
    }

    button {
        width: 100px;
        font-size: 12px;
    }
    input {
        width: 150px;
    }
    ::placeholder {
        font-size: 12px;
    }
    textarea {
        width: 150px;
    }
}


@media screen and (max-width: 320px) {
    body {
        flex-wrap: wrap;
        overflow: hidden;
        height: 100vh;
    }
    .container.con {
        padding: 8px;
        position: absolute;
        overflow: hidden;
        top: 20vh;
        left: 20vw;
        width: 70vw;
        height: 50vh;
        flex-wrap: wrap;
        text-align: center;
    }

    h1 {
        padding: 0;
        width: 100vw;
        font-size: 20px;
    }

    p {
        padding: 0;
        flex-wrap: wrap;
        text-align: justify;
        width: 62vw;
        font-size: 10px;
        line-height: 15px;
    }

    .container.formul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 20px;
        position: absolute;
        top: 80vh;
        left: 20vw;
        height: 60vh;
        width: 70vw;  
    }

    form {
        padding: 0;
        margin: 0;
        width: 150px;
    }

    label {
        font-size: 20px;
    }

    button {
        width: 100px;
        font-size: 12px;
    }
    input {
        width: 150px;
    }
    ::placeholder {
        font-size: 12px;
    }
    textarea {
        width: 150px;
    }
}
